.wrapper {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to right, brown , rgb(228, 166, 85),brown);
}

header {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 6px solid black;
}


.headerList {
    font-family: 'Alfa Slab One', cursive;
    width: 500px;
    height: auto;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 20px;
    font-size: 15px;
       
  }
  .buttonColor {
    text-decoration: none;
    color: black;
  }
  
  .navButton{
    transform: rotate(0);
    transition: transform 1.5s ease;  
  }
  
  .navButton:hover{
      transform: rotate(360deg);
  }
  
  h1 {
    font-size: 60px;
}
.titleBlock {
    display: flex;
    justify-content: center;
    width: auto;
    
    
}


.Gallery {
    /* border: 1px solid brown; */
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    object-fit: cover;
   }
.img {
    object-fit: fit;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.Pic {
    display: flex;
    align-items: center;
    flex-direction: column;
   
    width: 300px;
    min-width: 299px;
    height: 350px;
    margin: 10px 20px;
    object-fit: cover;
}


footer {
    /* border: 1px solid red; */
    width: 100%;
    height: 125px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


.socialMedia {
    border: 1px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 230px;
    border-radius: 20px / 35px;
    background-color: white;
    border: 3px solid black;
}
.socialLine {
    display: flex;
    align-items: center;

}
.socialBox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    height: 45px;
    width: 45px;
    border-radius: 5px;
}


@media (max-width: 780px) {
    .title {
        font-size: 15px;
    }
}   
@media (max-width: 680px) {
    footer {
        height: 150px;
        flex-direction: column;
    }
    .socialMedia, .copyright {
        margin: 0 0 ;
    }
    .socialMedia {
        width: 200px;       
    }
    .socialLine {
        flex-direction: row;
    }
}
   

 @media (max-width: 580px) {
    
    .titleBlock>h1 {
        font-size: 40px;
    }
    .title {
        font-size: 10px;
    }
    ul {
        flex-direction: column;
    }
    h2>span {
        font-size: 20px;
    }
    
     
 }